<div class="cockpit">
  <div class="header">
    <div class="player-info">
      <p>Player: {{ playerName }}</p>
    </div>
    <div class="controls">
      <button *ngIf="isConnected" (click)="setReady()" class="btn btn-primary">Ready-up</button>
      <button (click)="calibrateGyro()" class="btn btn-secondary">Calibrate Gyro</button>
    </div>
  </div>
  
  <div class="instrument-panel">
    <div class="gyroscope-data flex">
      <p class="text-green-200">Alpha: {{ alpha }}</p>
      <p class="text-orange-200">Beta: {{ beta }}</p>
      <p class="text-yellow-200">Gamma: {{ gamma }}</p>
    </div>
    <div class="w-full flex">
      <div class="flex">
        <canvas id="airspeedCanvas" width="25" height="300"></canvas>
      </div>
      <canvas id="gyroCanvas"></canvas>
    </div>
  </div>
</div>